.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.fullsize-tree >>> .ui-tree {  
  width: 100%;
}

territory-constituencies {
  width: 100%;
}

territory-territories {
  width: 100%;
}
